*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #eeeff1;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

svg {
  height: 30px;
  width: 30px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.section_container {
  max-width: 990px;
  margin: 0 auto;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-justify-content-center {
  justify-content: center;
}

.flex-justify-content-between {
  justify-content: space-between;
}

.flex-align-items-center {
  align-items: center;
}

.flex-align-items-between {
  align-items: space-between;
}

.fw-500 {
  font-weight: 500;
}

.fw-400 {
  font-weight: 400;
}

.fs-1rem {
  font-size: 1rem;
}

.fs-1-3 {
  font-size: 2rem;
}

.fs-2rem {
  font-size: 2rem;
}

.mb-10 {
  margin-bottom: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.w100 {
  width: 100%;
}

.header {
  height: 85px;
  width: 100%;
  padding: 25px;
}

.header__left__logo {
  width: 30px;
  height: 30px;
  background-color: #69d5f2;
  margin-right: 10px;
}
@media (max-width: 600px) {
  .header__left__name {
    font-size: 1.4rem;
  }
}

@media (max-width: 480px) {
  .header__right {
    display: none;
  }
}
.header__right li {
  font-size: 1.4rem;
  margin: 0 5px;
  padding: 10px 5px;
  color: #32343a;
}
@media (max-width: 560px) {
  .header__right li {
    padding: 10px 0px;
  }
}
.header__right li:last-child {
  background-color: #222527;
  color: #fff;
  border-radius: 5px;
  padding: 10px 30px;
}
@media (max-width: 560px) {
  .header__right li:last-child {
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .menu_responsive {
    display: flex;
  }
}

.presentation {
  padding: 80px 100px 80px;
}
@media (max-width: 768px) {
  .presentation {
    padding: 50px 70px 40px;
  }
}
@media (max-width: 666px) {
  .presentation {
    display: block;
  }
}
@media (max-width: 480px) {
  .presentation {
    padding: 20px 40px 30px;
  }
}

.presentation__left {
  margin-right: 70px;
}
@media (max-width: 666px) {
  .presentation__left {
    margin-right: 0;
  }
}
.presentation__left .image_container {
  position: relative;
  height: 260px;
  width: 220px;
}
@media (max-width: 666px) {
  .presentation__left .image_container {
    margin: 0 auto;
  }
}
.presentation__left .image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.presentation__left .image_frame {
  height: 260px;
  width: 220px;
  border: 1px solid #69d5f2;
  position: absolute;
  top: -20px;
  left: -20px;
  border-radius: 5px;
  z-index: -1;
}

.presentation__right {
  width: 100%;
}
@media (max-width: 666px) {
  .presentation__right {
    margin-top: 30px;
  }
}
.presentation__right__title {
  line-height: 7rem;
  font-size: 7rem;
}
@media (max-width: 768px) {
  .presentation__right__title {
    font-size: 6rem;
  }
}
.presentation__right__texte {
  font-size: 2.5rem;
  line-height: 3.4rem;
}
@media (max-width: 768px) {
  .presentation__right__texte {
    font-size: 1.8rem;
  }
}

.technologie {
  padding: 0px 100px 80px;
}
@media (max-width: 768px) {
  .technologie {
    padding: 0px 70px 40px;
  }
}
@media (max-width: 480px) {
  .technologie {
    padding: 0px 40px;
  }
}

.technologie__title {
  font-size: 3rem;
  letter-spacing: 5px;
}

@media (max-width: 768px) {
  .technologie__container {
    display: block;
  }
}

.technologie__left {
  min-width: 50%;
  margin-right: 20px;
}
@media (max-width: 768px) {
  .technologie__left {
    width: 100%;
    margin: 10px 0 20px;
  }
}
.technologie__left__texte {
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 300;
}
@media (max-width: 768px) {
  .technologie__left__texte {
    font-size: 1.4rem;
  }
}

.technologie__right {
  display: flex;
  align-items: center;
}
.technologie__right ul {
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .technologie__right ul {
    justify-content: center;
  }
}
.technologie__right li {
  border: 1px solid #aaa6a6;
  padding: 5px;
  border-radius: 5px;
}
.technologie__right svg {
  margin-right: 5px;
}
.technologie__right span {
  font-size: 1.8rem;
}
@media (max-width: 768px) {
  .technologie__right .li_container {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.project_container {
  background-color: #222527;
  width: 100%;
}

.project {
  padding: 50px 100px 30px;
}
@media (max-width: 768px) {
  .project {
    padding: 50px 70px 0px;
  }
}
@media (max-width: 480px) {
  .project {
    padding: 50px 40px 0px;
  }
}

.project__title {
  position: relative;
  font-size: 4rem;
  color: #69d5f2;
  font-weight: 300;
  letter-spacing: 5px;
  margin-bottom: 40px;
}
.project__title::before {
  content: "";
  width: 40px;
  position: absolute;
  top: 0px;
  left: 3px;
  border: 2px solid #69d5f2;
}

.project__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  height: 300px;
  background-color: #fff;
  margin-bottom: 30px;
}

.main-project {
  width: 100%;
}

.second-project {
  width: 48%;
}
@media (max-width: 768px) {
  .second-project {
    width: 100%;
  }
}

.contact {
  padding: 50px 100px 30px;
}
@media (max-width: 768px) {
  .contact {
    padding: 50px 70px 0px;
  }
}
@media (max-width: 480px) {
  .contact {
    padding: 50px 40px 0px;
  }
}

.contact_wrapper {
  border-radius: 20px;
  border: 1px solid #aaa6a6;
  padding: 30px;
  display: flex;
}
@media (max-width: 960px) {
  .contact_wrapper {
    flex-direction: column;
  }
}

.contact__title {
  font-size: 5rem;
  width: 50%;
}
@media (max-width: 960px) {
  .contact__title {
    width: 100%;
    margin-bottom: 20px;
  }
}

.contact_form {
  display: flex;
  flex-direction: column;
}
.contact_form .inline-form {
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
}
@media (max-width: 600px) {
  .contact_form .inline-form {
    gap: 10px;
    flex-direction: column;
  }
}
.contact_form .inline-form input {
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 5px;
  margin-top: 10px;
}
.contact_form .inline-form input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  color: #aaa6a6;
}
.contact_form label {
  font-size: 1.4rem;
}

.textarea {
  display: flex;
  flex-direction: column;
}
.textarea textarea {
  background-color: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 5px;
  resize: none;
  font-family: "Poppins", sans-serif;
}
.textarea textarea::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  color: #aaa6a6;
}

.test {
  width: 100%;
}

.footer_container {
  background-color: #222527;
  width: 100%;
}

.footer {
  height: 80px;
}
.footer ul {
  height: 100%;
}
.footer ul li {
  margin: 0 10px;
}

.btn {
  width: 40%;
  margin: 20px auto 0;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  color: #fff;
  background-color: #222527;
}

/*# sourceMappingURL=style.css.map */
