@use "../Utils/" as *;

.header {
    height: 85px;
    width: 100%;
    padding: 25px;
    animation-name: Apparition;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

.header__left {
    &__logo {
        width: 30px;
        height: 30px;
        background-color: $primary;
        margin-right: 10px;
    }

    &__name {
        @include breakpoint(600px) {
            font-size: 1.4rem;
        }
    }
}

.header__right {
    .liste {
        color: $text_color_light;
        display: flex;
        @include sm {
            background-color: $bgcolor_dark;
            text-align: center;
            color: white;
            position: absolute;
            width: 100%;
            top: 85px;
            left: 0;
            flex-direction: column;
            display: none;
        }
    }

    .liste.show {
        display: block;
    }
    a {
        font-size: 1.4rem;
        margin: 0 5px;
        padding: 10px 5px;
        transition: 0.2s all ease-in-out;
        &:hover {
            color: $primary;
        }
        @include breakpoint(560px) {
            padding: 10px 0px;
        }
    }

    a:last-child {
        background-color: $bgcolor_dark;
        color: $white;
        padding: 10px 30px;
        border-radius: 5px;
        transition: 0.2s all ease-in-out;
        @include breakpoint(560px) {
            padding: 10px 20px;
        }
        @include sm {
            background-color: transparent;
        }
        &:hover {
            color: $primary;
            background-color: $bgcolor_dark_hover;
        }
    }
}

.menu_responsive {
    @include sm {
        display: flex;
    }
}
