@use "../Utils/" as *;

.technologie {
    padding: 0px 100px 80px;
    animation-name: ApparitionLeft;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    @include md {
        padding: 0px 70px 40px;
    }

    @include sm {
        padding: 0px 40px;
    }
}

.technologie__title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 5px;
}
.technologie__container {
    @include md {
        display: block;
    }
}
.technologie__left {
    min-width: 50%;
    margin-right: 20px;

    @include md {
        width: 100%;
        margin: 10px 0 20px;
    }
    &__texte {
        font-size: 1.8rem;
        line-height: 3rem;
        font-weight: 300;

        @include md {
            font-size: 1.4rem;
        }
    }
}

.technologie__right {
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        .technologie1 {
            animation-name: Disapear;
            animation-duration: 500ms;
            animation-timing-function: ease-in-out;
            animation-fill-mode: both;
        }

        .technologie2 {
            animation-name: Disapear1;
            animation-duration: 500ms;
            animation-timing-function: ease-in-out;
            animation-fill-mode: both;
        }

        .technologie3 {
            animation-name: Disapear2;
            animation-duration: 500ms;
            animation-timing-function: ease-in-out;
            animation-fill-mode: both;
        }

        .technologie4 {
            animation-name: Disapear4;
            animation-duration: 500ms;
            animation-timing-function: ease-in-out;
            animation-fill-mode: both;
        }

        .technologie5 {
            animation-name: Disapear5;
            animation-duration: 500ms;
            animation-timing-function: ease-in-out;
            animation-fill-mode: both;
        }

        .technologie6 {
            animation-name: Disapear6;
            animation-duration: 500ms;
            animation-timing-function: ease-in-out;
            animation-fill-mode: both;
        }
        .technologie7 {
            animation-name: Disapear7;
            animation-duration: 500ms;
            animation-timing-function: ease-in-out;
            animation-fill-mode: both;
        }
        .technologie8 {
            animation-name: Disapear3;
            animation-duration: 500ms;
            animation-timing-function: ease-in-out;
            animation-fill-mode: both;
        }
    }
    ul {
        flex-wrap: wrap;

        @include md {
            justify-content: center;
        }
    }
    li {
        border: 1px solid $border;
        padding: 5px;
        border-radius: 5px;
        // flex-wrap: wrap;
    }
    svg {
        margin-right: 5px;
    }

    span {
        font-size: 1.8rem;
    }

    .li_container {
        @include md {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}
